.head {
  background-color: #ffe2ff;
  height: 100vh;
}

.card__form {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 2%;
  width: 100%;
}

.head__logo {
  align-items: center;
  background-color: #820ad1;
  display: flex;
  height: 5vh;
  justify-content: space-between;
  padding: 15px;
}

.head__text {
  color: white;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 2px;
  margin: 150px;
}

.head__info {
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 30px;
}

.head__info span {
  margin: 10px;
}

label {
  margin-right: 10px;
}

.head__btn {
  background-color: white;
  border: 2px solid #820ad1;
  border-radius: 10px;
  color: #820ad1;
  font-family: 'Radio Canada', sans-serif;
  /* font-weight: 550; */
  font-size: 0.9rem;
  padding: 6px;
  width: 12%;
}

.head__btn:hover {
  background-color: #820ad1;
  color: white;
  transition: all 0.35s ease-in-out;
}

.card__input , select {
  border: 2px solid #820ad1;
  border-radius: 5px;
  color: black;
  font-family: 'Radio Canada', sans-serif;
  font-size: 90%;
  font-weight: 550;
  margin: 3px;
  padding: 4px;
}

.head__label--black {
  color: black;
}
