table {
  margin: 2rem auto;
  width: 98%;
}

.header__item {
  border: 1px solid black;
  color: black;
  padding: 0.5rem;
}

.body_item {
  color:black;
  padding: 1rem 0;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* width: 5rem; */
}
